* {
    background-color: inherit;
}

.navbar-brand img {
    width: 250px;
}

a {
    text-decoration: none;
    color : black;
}

img {
    width: 50%;
    object-fit: cover;
    object-position: center;
    font-family: 'object-fit: cover; object-position: center;';
}

.zqsd {
    position: relative;
    display: inline-block;
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 16%);
    padding: 20px;
    margin: 0.75em;
    background-color: white;
}

.loyer {
    text-align: center;
    font-weight: 700;
}

.agence_light {
    font-weight: 400;
}

.agence_bold {
    font-weight: 600;
}