<form method="post" action="{{ path('app_appartement_delete', {'id': appartement.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer cet appartement ?');" class="d-inline-block">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ appartement.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>